@using TNet.Util;
@using TNet.Models;
@using TNet.Util;
@using TNet.BLL;

@model List<AdvertiseViewModel>

@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    var pageCount = Convert.ToInt32(ViewData["pageCount"]);
    var pageIndex = Convert.ToInt32(ViewData["pageIndex"]);

    DateTime? sdate = Convert.ToDateTime(ViewData["sdate"]);
    DateTime? edate = Convert.ToDateTime(ViewData["edate"]);
    string idat = ViewData["idat"].ToString();
    string title = ViewData["title"].ToString();
    string idcity = ViewData["idcity"].ToString();
    List<SelectItemViewModel<string>> citySelects = (List<SelectItemViewModel<string>>)ViewData["citySelects"];

    List<SelectItemViewModel<string>> advertiseTypes = (List<SelectItemViewModel<string>>)ViewData["advertiseTypes"];

}
<link href="@Url.Content("~/Css/zoom.js/zoom.css")" rel="stylesheet" />
<script src="@Url.Content("~/Js/zoom.js/zoom.min.js")"></script>
<div class="ManageRightTitle">
    <ol class="breadcrumb">
        <li><a href="#">广告管理</a></li>
        <li><a href="#" class="active">广告列表</a></li>
    </ol>
</div>
<div class="ManageRightContent">
    <div style="margin-top:10px;">
        <form action="@Url.Action("AdvertiseList","Manage",new { pageIndex=0})" method="post">
            <div class="row">
                <div class="col-xs-2">
                    <input type="text" class="form-control" placeholder="标题" name="title" value="@title">
                </div>
                <div class="col-xs-2">
                    @Html.DropDownList("idcity", new SelectList(citySelects, "DisplayValue", "DisplayText"), new { @class = "form-control", Value = idcity })
                </div>
                <div class="col-xs-2">
                    @Html.DropDownList("orderTypes", new SelectList(advertiseTypes, "DisplayValue", "DisplayText"), new { @class = "form-control", Value = idat })
                </div>
                <div class="col-xs-4">
                    <input type="submit" value="搜索" class="btn btn-primary" />
                    <a class="btn btn-primary" href="@Url.Action("AdvertiseEdit","Manage")">新增</a>
                    <a class="btn btn-danger" href="javascript:void(0);" id="btn_del_selected">删除</a>
                </div>
            </div>
        </form>
    </div>
    <div>
        @Html.Raw(Url.BootstrapPagerHTML(pageCount, pageIndex, "OrderList", "Manage", ViewContext.RouteData.Values))
    </div>

    <div class="list-box">
        @if (Model.Count > 0) {
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="chk_all" />
                        </th>
                        <th>@(AttributeHelper.DisplayAttributeFor<AdvertiseViewModel, string>(en => en.img))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<AdvertiseViewModel, string>(en => en.idat))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<AdvertiseViewModel, string>(en => en.title))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<AdvertiseViewModel, DateTime?>(en => en.cretime))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<AdvertiseViewModel, int?>(en => en.sortno))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<AdvertiseViewModel, bool>(en => en.inuse))</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td>
                                <input type="checkbox" name="chk_list_item" value="@item.idav" />
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.img)) {
                                    <a href="@item.link" target="_blank">
                                        <img  data-action="zoom" class="smallMercImage" src="@Url.Content(@item.img)" title="@item.title" />
                                    </a>
                                }
                            </td>
                            <td>@advertiseTypes.Where(en => en.DisplayValue == item.idat).FirstOrDefault().DisplayText</td>
                            <td>@item.title</td>
                            <td>
                                @(item.cretime != null ? item.cretime.Value.ToString("yyyy-MM-dd") : "")
                            </td>
                            <td>
                                @item.sortno
                            </td>
                            <td>
                                <div class="switch">
                                    <input type="checkbox" onchange="enableRecord('@Url.Action("AdvertiseEnable", "Manage", new { idav = item.idav, enable = !item.inuse, isAjax = true })')" name="enableAdvertise" @(item.inuse ? "checked" : "") />
                                </div>
                            </td>
                            <td>
                                <a href="@Url.Action("AdvertiseEdit","Manage",new { idav = item.idav })" class="btn btn-primary">编辑</a>
                                <a href="javascript:void(0);" class="btn btn-danger" name="btn_del" value="@item.idav">删除</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else {
            <h2>没有找到任何广告.</h2>
        }

    </div>
</div>


<script type="text/javascript">


    $(function () {
        $.fn.bootstrapSwitch.defaults.onText = '启用';
        $.fn.bootstrapSwitch.defaults.offText = '禁用';
        $("[name='enableAdvertise']").bootstrapSwitch();
        checkbox_select_all('chk_all', 'chk_list_item');
        var delUrl = "@Url.Action("AdvertiseDelete", "Manage")";
        $("#btn_del_selected").click(function () {
            checkbox_selected_del("chk_list_item", function (data) {
                var postData = { idavs: data };
                ajax_del(delUrl, postData);
            });
        });
        $("[name='btn_del']").click(function () {
            if (!confirm("确认要删除该记录吗？")) {
                return;
            }
            var data = new Array();
            data.push($(this).attr("value"));
            var postData = { idavs: data };
            ajax_del(delUrl, postData);
        });
    });
</script>