@model List<TNet.Models.CityViewModel>
@{
    Layout = null;
}
<link rel="stylesheet" href="@Url.Content("~/Css/iCheck/skins/all.css")" />
<script type="text/javascript" src="@Url.Content("~/Js/iCheck/icheck.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Js/iCheck/icheck.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Js/CustomerModelValidation/CheckoutRequiredClientValidation.js")"></script>

@if (Model != null && Model.Count() > 0) {
    <div>
        @foreach (var item in Model) {
            <input data-val="true" data-val-chkrequired="请至少勾选一个城市" type="checkbox" name="idcitys" id="idcitys_@item.idcity" value="@item.idcity" @(item.IsCheck ? "checked" : "") />
                    <label for="idcitys_@item.idcity">@item.city1</label>
        }
    </div>
}
else {
    <h3>没有找到任何城市，请先<a href="@Url.Action("CityEdit","Manage")">添加城市</a></h3>
}
<script type="text/javascript">
    $(function () {
        $('input:checkbox[name="idcitys"]').iCheck({ checkboxClass: 'icheckbox_square-blue' });
        
    });
</script>
