@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    ViewBag.Title = "后台管理";
}
<script src="@Url.Content("~/Js/Highcharts-5.0.2/highcharts.js")"></script>
<script src="@Url.Content("~/Js/Highcharts-5.0.2/modules/exporting.js")"></script>
<script src="@Url.Content("~/Js/Highcharts-5.0.2/modules/data.js")"></script>
@*<script src="@Url.Content("~/Js/Highcharts-5.0.2/themes/sand-signika.js")"></script>*@
<script type="text/javascript">
    $(function () {
        /*统计订单*/
        var byOrderDayUrl = "@Url.Action("OrderStatisticByDay", "Manage",new {isAjax=true})";
        var byOrderDayData = { date: "@DateTime.Now.ToString("yyyy-MM-dd")", days: 7 };
        bindOrderCharts(byOrderDayUrl, byOrderDayData, "amountByDayContainer", "numByDayContainer", bindOrderChartsCallBack);

        var byOrderMonthUrl = "@Url.Action("OrderStatisticByMonth", "Manage",new {isAjax=true})";
        var byOrderMonthData = { date: "@DateTime.Now.ToString("yyyy-MM-dd")", months: 6 };
        bindOrderCharts(byOrderMonthUrl, byOrderMonthData, "amountByMonthContainer", "numByMonthContainer", bindOrderChartsCallBack);

        var byOrderYearUrl = "@Url.Action("OrderStatisticByYear", "Manage",new {isAjax=true})";
        var byOrderYearData = { date: "@DateTime.Now.ToString("yyyy-MM-dd")", years: 2 };
        bindOrderCharts(byOrderYearUrl, byOrderYearData, "amountByYearContainer", "numByYearContainer", bindOrderChartsCallBack);

        /*统计注册用户*/
        var byUserDayUrl = "@Url.Action("UserStatisticByDay", "Manage",new {isAjax=true})";
        var byUserDayData = { date: "@DateTime.Now.ToString("yyyy-MM-dd")", days: 7 };
        bindCharts(byUserDayUrl, byUserDayData, "userByDayContainer", bindUserChartsCallBack);

        var byUserMonthUrl = "@Url.Action("UserStatisticByMonth", "Manage",new {isAjax=true})";
        var byUserMonthData = { date: "@DateTime.Now.ToString("yyyy-MM-dd")", months: 6 };
        bindCharts(byUserMonthUrl, byUserMonthData, "userByMonthContainer", bindUserChartsCallBack);

        var byUserYearUrl = "@Url.Action("UserStatisticByYear", "Manage",new {isAjax=true})";
        var byUserYearData = { date: "@DateTime.Now.ToString("yyyy-MM-dd")", years: 2 };
        bindCharts(byUserYearUrl, byUserYearData, "userByYearContainer", bindUserChartsCallBack);

        /*统计投诉*/
        var byIssuesDayUrl = "@Url.Action("IssuesStatisticByDay", "Manage",new {isAjax=true})";
        var byIssuesDayData = { date: "@DateTime.Now.ToString("yyyy-MM-dd")", days: 7 };
        bindCharts(byIssuesDayUrl, byIssuesDayData, "issuesByDayContainer", bindIssuesChartsCallBack);

        var byIssuesMonthUrl = "@Url.Action("IssuesStatisticByMonth", "Manage",new {isAjax=true})";
        var byIssuesMonthData = { date: "@DateTime.Now.ToString("yyyy-MM-dd")", months: 6 };
        bindCharts(byIssuesMonthUrl, byIssuesMonthData, "issuesByMonthContainer", bindIssuesChartsCallBack);

        var byIssuesYearUrl = "@Url.Action("IssuesStatisticByYear", "Manage",new {isAjax=true})";
        var byIssuesYearData = { date: "@DateTime.Now.ToString("yyyy-MM-dd")", years: 2 };
        bindCharts(byIssuesYearUrl, byIssuesYearData, "issuesByYearContainer", bindIssuesChartsCallBack);

    });

    function bindCharts(url, data, container, bindChartsCallBackFun) {
        $.post(url, data, function (returndata) {
            if (bindChartsCallBackFun) {
                returndata = eval("(" + returndata + ")");
                bindChartsCallBackFun(returndata, container);
            }
        });
    }
    /*统计订单*/
    function bindOrderChartsCallBack(returndata, amountContainer, numContainer) {
        if (returndata.Code == 1) {
            if (returndata.Content != null && returndata.Content.length > 0) {
                var categories = new Array();
                var numData = new Array();
                var amountData = new Array();
                for (var i = 0; i < returndata.Content.length; i++) {
                    var item = returndata.Content[i];
                    categories.push(item["Date"]);
                    numData.push(item["OrderNumer"]);
                    amountData.push(item["OrderAmount"]);
                }
                amountOrderChartsSetting(amountContainer, categories, amountData);
                numberOrderChartsSetting(numContainer, categories, numData);
            }
            else {
                alert("没有任何订单。");
            }
        }
        else {
            alert("加载订单统计失败。");
        }
    }
    function bindOrderCharts(url, data, amountContainer, numContainer, bindChartsCallBackFun) {
        $.post(url, data, function (returndata) {
            if (bindChartsCallBackFun) {
                returndata = eval("(" + returndata + ")");
                bindChartsCallBackFun(returndata, amountContainer, numContainer);
            }
        });
    }
    function numberOrderChartsSetting(container, categories, data) {
        $('#' + container).highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '订单数量'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: categories,
                type: 'category',
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '数量'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: '数量为<b>{point.y:.0f}</b>'
            },
            series: [{
                color: 'rgba(186,60,61,.9)',
                name: 'Population',
                data: data,
                dataLabels: {
                    enabled: true,
                    rotation: 0,
                    color: '#000000',
                    align: 'right',
                    format: '{point.y:.0f}', // one decimal
                    y: 20, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                },
                pointPadding: 0.3,
                pointPlacement: 0.0,
            }]
        });
    }
    function amountOrderChartsSetting(container, categories, data) {
        $('#' + container).highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '订单金额'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: categories,
                type: 'category',
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '金额(￥)'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: '金额为<b>￥{point.y:.2f}</b>'
            },
            series: [{
                color: 'rgba(186,60,61,.9)',
                name: 'Population',
                data: data,
                dataLabels: {
                    enabled: true,
                    rotation: 0,
                    color: '#000000',
                    align: 'right',
                    format: '￥{point.y:.2f}', // one decimal
                    y: 20, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                },
                pointPadding: 0.3,
                pointPlacement: 0.0,
            }]
        });
    }
    /*统计注册用户*/
    function bindUserChartsCallBack(returndata, container) {
        if (returndata.Code == 1) {
            if (returndata.Content != null && returndata.Content.length > 0) {
                var categories = new Array();
                var data = new Array();
                for (var i = 0; i < returndata.Content.length; i++) {
                    var item = returndata.Content[i];
                    categories.push(item["Date"]);
                    data.push(item["Count"]);
                }
                userChartsSetting(container, categories, data);
            }
            else {
                alert("没有任何注册用户。");
            }
        }
        else {
            alert("加载注册用户统计失败。");
        }
    }
    function userChartsSetting(container, categories, data) {
        $('#' + container).highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '用户注册数量'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: categories,
                type: 'category',
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '数量'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: '数量为<b>{point.y:.0f}</b>'
            },
            series: [{
                color: 'rgba(186,60,61,.9)',
                name: 'Population',
                data: data,
                dataLabels: {
                    enabled: true,
                    rotation: 0,
                    color: '#000000',
                    align: 'right',
                    format: '{point.y:.0f}', // one decimal
                    y: 20, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                },
                pointPadding: 0.3,
                pointPlacement: 0.0,
            }]
        });
    }
    /*统计注册投诉*/
    function bindIssuesChartsCallBack(returndata, container) {
        if (returndata.Code == 1) {
            if (returndata.Content != null && returndata.Content.length > 0) {
                var categories = new Array();
                var data = new Array();
                for (var i = 0; i < returndata.Content.length; i++) {
                    var item = returndata.Content[i];
                    categories.push(item["Date"]);
                    data.push(item["Count"]);
                }
                issuesChartsSetting(container, categories, data);
            }
            else {
                alert("没有任何投诉信息。");
            }
        }
        else {
            alert("加载投诉信息统计失败。");
        }
    }
    function issuesChartsSetting(container, categories, data) {
        $('#' + container).highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '投诉信息数量'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: categories,
                type: 'category',
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '数量'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: '数量为<b>{point.y:.0f}</b>'
            },
            series: [{
                color: 'rgba(186,60,61,.9)',
                name: 'Population',
                data: data,
                dataLabels: {
                    enabled: true,
                    rotation: 0,
                    color: '#000000',
                    align: 'right',
                    format: '{point.y:.0f}', // one decimal
                    y: 20, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                },
                pointPadding: 0.3,
                pointPlacement: 0.0,
            }]
        });
    }
</script>

<div class="ManageRightTitle">
    <ol class="breadcrumb">
        <li><a href="#">统计管理</a></li>
        <li><a href="#" class="active">统计</a></li>
    </ol>
</div>
<div class="ManageRightContent">
    <div style="width:700px;float:left;">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#amountByDay" role="tab" data-toggle="tab">按日统计</a>
            </li>
            <li role="presentation">
                <a href="#amountByMonth" role="tab" data-toggle="tab">按月统计</a>
            </li>
            <li role="presentation">
                <a href="#amountByYear" role="tab" data-toggle="tab">按年统计</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="amountByDay">
                <div id="amountByDayContainer" style="min-width:400px;width:700px;height:400px;"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="amountByMonth">
                <div id="amountByMonthContainer" style="min-width:400px;height:400px;"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="amountByYear">
                <div id="amountByYearContainer" style="min-width:400px;height:400px;"></div>
            </div>
        </div>
    </div>
    <div style="width:700px;float:left;">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#numByDay" role="tab" data-toggle="tab">按日统计</a>
            </li>
            <li role="presentation">
                <a href="#numByMonth" role="tab" data-toggle="tab">按月统计</a>
            </li>
            <li role="presentation">
                <a href="#numByYear" role="tab" data-toggle="tab">按年统计</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="numByDay">
                <div id="numByDayContainer" style="min-width:400px;width:700px;height:400px;"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="numByMonth">
                <div id="numByMonthContainer" style="min-width:400px;height:400px;"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="numByYear">
                <div id="numByYearContainer" style="min-width:400px;height:400px;"></div>
            </div>
        </div>
    </div>
    <div style="width:700px;float:left;">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#userByDay" role="tab" data-toggle="tab">按日统计</a>
            </li>
            <li role="presentation">
                <a href="#userByMonth" role="tab" data-toggle="tab">按月统计</a>
            </li>
            <li role="presentation">
                <a href="#userByYear" role="tab" data-toggle="tab">按年统计</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="userByDay">
                <div id="userByDayContainer" style="min-width:400px;width:700px;height:400px;"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="userByMonth">
                <div id="userByMonthContainer" style="min-width:400px;height:400px;"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="userByYear">
                <div id="userByYearContainer" style="min-width:400px;height:400px;"></div>
            </div>
        </div>
    </div>
    <div style="width:700px;float:left;">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#issuesByDay" role="tab" data-toggle="tab">按日统计</a>
            </li>
            <li role="presentation">
                <a href="#issuesByMonth" role="tab" data-toggle="tab">按月统计</a>
            </li>
            <li role="presentation">
                <a href="#issuesByYear" role="tab" data-toggle="tab">按年统计</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="issuesByDay">
                <div id="issuesByDayContainer" style="min-width:400px;width:700px;height:400px;"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="issuesByMonth">
                <div id="issuesByMonthContainer" style="min-width:400px;height:400px;"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="issuesByYear">
                <div id="issuesByYearContainer" style="min-width:400px;height:400px;"></div>
            </div>
        </div>
    </div>
</div>


