@using TNet.Util;
@using TNet.Models;
@using TNet.Util;
@using TNet.BLL;

@model List<SetupAddrViewModel>

@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    var pageCount = Convert.ToInt32(ViewData["pageCount"]);
    var pageIndex = Convert.ToInt32(ViewData["pageIndex"]);
}
<div class="ManageRightTitle">
    <ol class="breadcrumb">
        <li><a href="#">订单管理</a></li>
        <li><a href="#" class="active">报装地址</a></li>
    </ol>
</div>
<div class="ManageRightContent">
    <div>
        @Html.Raw(Url.BootstrapPagerHTML(pageCount, pageIndex, "SetupAddrList", "Manage", ViewContext.RouteData.Values))
    </div>
    <div>
        <a class="btn btn-primary" href="@Url.Action("SetupAddrEdit","Manage")">新增</a>
        <a class="btn btn-danger" href="javascript:void(0);" id="btn_del_selected">删除</a>
    </div>
    <div class="list-box">
        @if (Model.Count > 0)
        {
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="chk_all" />
                        </th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SetupAddrViewModel, MercTypeViewModel>(en => en.merctype))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SetupAddrViewModel, SetupViewModel>(en => en.setup))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SetupAddrViewModel, String>(en => en.addr))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SetupAddrViewModel, string>(en => en.phone))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SetupAddrViewModel, string>(en => en.service))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SetupAddrViewModel, string>(en => en.acceptime))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SetupAddrViewModel, string>(en => en.setuptime))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SetupAddrViewModel, int?>(en => en.sortno))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SetupAddrViewModel, bool>(en => en.inuse))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SetupAddrViewModel, string>(en => en.notes))</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="chk_list_item" value="@item.idaddr" />
                            </td>
                            <td>@(item.merctype!=null?item.merctype.name:"")
                            </td>
                            <td>
                                @(item.setup != null ? item.setup.setup1 : "")
                            </td>
                            <td>@item.addr</td>
                            <td>@item.phone</td>
                            <td>@item.service</td>
                            <td>
                                @item.acceptime
                            </td>
                            <td>
                                @item.setuptime
                            </td>
                            <td>
                                @item.sortno
                            </td>
                            <td>
                                <div class="switch">
                                    <input type="checkbox" onchange="enableSetupAddr('@Url.Action("SetupAddrEnable", "Manage", new { idaddr = item.idaddr, enable = !item.inuse, isAjax = true })')" name="enableSetupAddr" @(item.inuse ? "checked" : "") />
                                </div>
                            </td>
                            <td>
                                @item.notes
                            </td>
                            <td>
                                <a href="@Url.Action("SetupAddrEdit","Manage",new {idaddr=item.idaddr })" class="btn btn-primary">编辑</a>
                                <a href="javascript:void(0);" class="btn btn-danger" name="btn_del" value="@item.idaddr">删除</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2>还没有任何报装地址.</h2>
        }

    </div>
</div>
<script type="text/javascript">
    $(function () {
        $.fn.bootstrapSwitch.defaults.onText = '启用';
        $.fn.bootstrapSwitch.defaults.offText = '禁用';
        $("[name='enableSetupAddr']").bootstrapSwitch();
        checkbox_select_all('chk_all', 'chk_list_item');
        var delUrl = "@Url.Action("SetupAddrDelete", "Manage")";
        $("#btn_del_selected").click(function () {
            checkbox_selected_del("chk_list_item", function (data) {
                var postData = { idaddrs: data };
                ajax_del(delUrl, postData);
            });
        });
        $("[name='btn_del']").click(function () {
            if (!confirm("确认要删除该记录吗？")) {
                return;
            }
            var data = new Array();
            data.push($(this).attr("value"));
            var postData = { idaddrs: data };
            ajax_del(delUrl, postData);
        });
    });

    function enableSetupAddr(url) {
        var manageLoginUrl = "@Url.Action("Login","Manage")";
        $.post(url, null, function (returndata) {
            returndata=eval("("+returndata+")");
            if (returndata.Code == "3") {
                alert(returndata.Message);
                window.Location.href = manageLoginUrl;
            } else if (returndata.Code == "1") {
                //alert("操作成功.");
                window.location.href = window.location.href;
            } else {
                alert("系统出错，请稍后再试。");
            }
        });
    }

</script>


