@model TNet.Models.WeiXinModuleViewModel
@using TNet.Models
@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    ViewBag.Title = "编辑微信模块";
    if (string.IsNullOrEmpty(Model.idwxmodule)) {
        ViewBag.Title = "新增微信模块";
    }
}
<link rel="stylesheet" href="@Url.Content("~/Css/bootstrap-fileinput/fileinput.min.css")" />
<script type="text/javascript" src="@Url.Content("~/Js/bootstrap-fileinput/fileinput.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Js/bootstrap-fileinput/locales/zh.js")"></script>

<div class="ManageRightTitle">
    <ol class="breadcrumb">
        <li><a href="#">微信管理</a></li>
        <li><a href="@Url.Action("WeiXinModuleList","Manage")">微信模块列表</a></li>
        <li><a href="#" class="active">@(string.IsNullOrEmpty(Model.idwxmodule) ? "新增微信模块" : "编辑微信模块")</a></li>
    </ol>
</div>
<div class="ManageRightContent">
    <form id="form1" action="@Url.Action("WeiXinModuleEdit","Manage")" method="post" class="form-horizontal">
        <div class="merc-edit-box ">
            <fieldset>
                @Html.HiddenFor(model => model.idwxmodule)
                @Html.HiddenFor(model => model.name)
                @Html.HiddenFor(model => model.code)
                @Html.HiddenFor(model => model.ico)
                <div class="form-group">
                    @Html.LabelFor(model => model.name, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        <p class="form-control-static">@Model.name</p>
                    </div>
                    @Html.ValidationMessageFor(model => model.name)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.code, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        <p class="form-control-static">@Model.code</p>
                    </div>
                    @Html.ValidationMessageFor(model => model.code)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.title, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.title, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.title)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.pubtime, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.pubtime, new { @class = "form-control form_datetime", @readonly = "", Value = String.Format("{0:yyyy-MM-dd}", Model.pubtime) })
                    </div>
                    @Html.ValidationMessageFor(model => model.pubtime)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.endtime, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.endtime, new { @class = "form-control form_datetime", @readonly = "", Value = String.Format("{0:yyyy-MM-dd}", Model.endtime) })
                    </div>
                    @Html.ValidationMessageFor(model => model.endtime)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.notes, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.notes, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.notes)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.inuse, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.CheckBoxFor(model => model.inuse, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.inuse)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ico, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        <input type="file" name="image" id="weixinmodule_img" multiple class="file-loading" />
                    </div>
                    @Html.ValidationMessageFor(model => model.ico)
                </div>
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-10" style="padding-left:10px;padding-top:10px;">
                        <input type="submit" id="btnSave" value="保存" class="btn btn-primary" />
                    </div>
                </div>
            </fieldset>

        </div>

    </form>

</div>

<script type="text/javascript">

    $(function () {
        $("#@Html.IdFor(model=>model.inuse)").bootstrapSwitch({
            onText: '启用',
            offText: '禁用'
        });
        bindDatetimePicker();
    });



    function initFileInput(ctrlName, uploadUrl, initialPreview, initialPreviewConfig) {
        var $control = $('#' + ctrlName);
        $control.fileinput({
            initialPreview: initialPreview,
            initialPreviewConfig: initialPreviewConfig,
            initialPreviewAsData: true,
            language: 'zh', //设置语言
            uploadUrl: uploadUrl, //上传的地址
            uploadAsync: false,
            maxFileCount: 1,
            validateInitialCount:true,
            overwriteInitial: false,
            allowedPreviewTypes: ['image'],
            allowedFileExtensions: ['jpg', 'png', 'gif'],//接收的文件后缀
            showUpload: false, //是否显示上传按钮
            showRemove: false, // hide remove button
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            showBrowse: false,
            showClose: false,
            showCancel: false,
            browseOnZoneClick: true

        }).on("filebatchselected", function (event, files) {
            $control.fileinput("upload");
        }).on('fileuploaded', function (event, data, id, index) {
            var responseData = data.response;
            if (responseData.Code == "1") {
                alert(responseData.Message);
            }
            else if (responseData.Code == "2") {
                alert(responseData.Message);
            }

        });
    }

    function initImages() {
        var uploadUrl = "@Url.Action("UploadCommonImage","Manage",new { moduleType = ModuleType.WeiXinModule })";
        var deleteImageUrl = "@Url.Action("DeleteCommonImage", "Manage",new { isAjax =true})";
        var img = $("#@Html.IdFor(model=>model.ico)");
        var initPreviewImage = [];
        var initialPreviewConfig = [];

        if ($(img).val() != "") {
            initPreviewImage.push($(img).val());
            var initialPreviewConfigItem = {
                url: deleteImageUrl,
                key: "",
                extra: { moduleType: "@(ModuleType.WeiXinModule)" }
            };
            initialPreviewConfig.push(initialPreviewConfigItem);
        }

        initFileInput("weixinmodule_img", uploadUrl, initPreviewImage, initialPreviewConfig);
    }

    $(function () {
       
        initImages();

        $("#btnSave").click(function () {
            var images = "";
            $(".kv-file-content").find("img").each(function (i, d) {
                if (i == 0) {
                    images += $(d).attr("src");
                }
                else {
                    images += "," + $(d).attr("src");
                }
            });
            $("#@Html.IdFor(model=>model.ico)").val(images);
            if (images == "") {
                alert("必须上传图片");
                return;
            }
            $("#form1").submit();
        });

    });

</script>
