@{
    ViewBag.Title = "TNet-管理";
    TCom.EF.ManageUser mu = Session["ManageUser"] as TCom.EF.ManageUser;
    ViewBag.MUName = mu != null ? mu.UserName : "(>0.0<)!!!";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TNet管理</title>
    <link href="https://res.wx.qq.com/open/libs/weui/0.4.3/weui.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Css/Bootstrap/bootstrap.min.css?v=20161124")" />
    <link rel="stylesheet" href="@Url.Content("~/Css/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css?v=20161124")" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Css/bootstrap-switch/bootstrap3/bootstrap-switch.min.css")" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Css/com/jQuery.Validate.css?v=20161124")" />
    <link rel="stylesheet" href="@Url.Content("~/Css/Manage/Base.css?v=20161124")" />
    <script type="text/javascript" src="@Url.Content("~/Js/Com/jquery-3.1.0.min.js?v=20161124")"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/NiceScroll/jquery.nicescroll.min.js?v=20161124")"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/Bootstrap/bootstrap.min.js?v=20161124")"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/bootstrap-datetimepicker/bootstrap-datetimepicker.js?v=20161124")" charset="UTF-8"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js?v=20161124")" charset="UTF-8"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/bootstrap-switch/bootstrap-switch.min.js")" charset="UTF-8"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/Com/jquery.validate.min.js?v=20161124")"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/Com/jquery.validate.unobtrusive.min.js?v=20161124")"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/Pub.js?v=20161124")"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/Manage/Base.js?v=20161124")"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/Manage/checkbox_tool.js")"></script>
</head>
<body root="@Url.Content("~/")">
    <div id="toast" style="display: none;">
        @*<div class="weui_mask_transparent" id="toast_msg_host"></div>*@
        <div class="weui_toast">
            <i class="weui_icon_toast"></i>
            <p id="toast_c" class="weui_toast_content">已完成</p>
        </div>
    </div>
    <div id="toast_e" style="display:none;">
        @*<div class="weui_mask_transparent" id="toast_e_msg_host"></div>*@
        <div class="weui_toast">
            <i class="weui_icon_toast weui_icon_toast_e"></i>
            <p id="toast_e_c" class="weui_toast_content">失败了!</p>
        </div>
    </div>
    <div id="toast_l" class="weui_loading_toast" style="display:none;">
        <div class="weui_mask_transparent"></div>
        <div class="weui_toast">
            <div class="weui_loading">
                <!-- :) -->
                <div class="weui_loading_leaf weui_loading_leaf_0"></div>
                <div class="weui_loading_leaf weui_loading_leaf_1"></div>
                <div class="weui_loading_leaf weui_loading_leaf_2"></div>
                <div class="weui_loading_leaf weui_loading_leaf_3"></div>
                <div class="weui_loading_leaf weui_loading_leaf_4"></div>
                <div class="weui_loading_leaf weui_loading_leaf_5"></div>
                <div class="weui_loading_leaf weui_loading_leaf_6"></div>
                <div class="weui_loading_leaf weui_loading_leaf_7"></div>
                <div class="weui_loading_leaf weui_loading_leaf_8"></div>
                <div class="weui_loading_leaf weui_loading_leaf_9"></div>
                <div class="weui_loading_leaf weui_loading_leaf_10"></div>
                <div class="weui_loading_leaf weui_loading_leaf_11"></div>
            </div>
            <p id="toast_l_c" class="weui_toast_content">处理中...</p>
        </div>
    </div>
    <div class="T">
        <div class="TL">您好: @ViewBag.MUName</div>
        <div class="TR"><a href="@Url.Action("SignOut","Manage")">注销</a></div>
    </div>
    <div class="C">
        <div class="CL">
            <div class="panel panel-default">
                <div class="panel-heading parentMenu">首页</div>
                <div class="list-group">
                    <a class="list-group-item" id="statisticList" href="@Url.Action("Index","Manage")">报表</a>
                </div>
                <div class="panel-heading parentMenu">产品管理</div>
                <div class="list-group">
                    <a class="list-group-item" id="MercList" href="@Url.Action("MercList","Manage")">产品</a>
                    <a class="list-group-item" id="MercTypeList" href="@Url.Action("MercTypeList","Manage")">类型</a>
                </div>
                <div class="panel-heading parentMenu">订单管理</div>
                <div class="list-group">
                    <a class="list-group-item" id="OrderList" href="@Url.Action("OrderList","Manage")">订单</a>
                    <a class="list-group-item" id="OrderList" href="@Url.Action("WaitApprovedOrderList","Manage")">待审核</a>
                    <a class="list-group-item" id="SetupAddrList" href="@Url.Action("SetupAddrList","Manage")">报装</a>
                </div>
                <div class="panel-heading parentMenu">派单管理</div>
                <div class="list-group">
                    <a class="list-group-item" id="TaskList" href="@Url.Action("TaskList","Manage")">派单</a>
                </div>
                <div class="panel-heading parentMenu">家门口</div>
                <div class="list-group">
                    <a class="list-group-item" id="BusinessList" href="@Url.Action("BusinessList","Manage")">商圈</a>
                </div>
                <div class="panel-heading parentMenu">职员管理</div>
                <div class="list-group">
                    <a class="list-group-item" id="ManageUserList" href="@Url.Action("ManageUserList","Manage")">职员</a>
                </div>
                <div class="panel-heading parentMenu">投诉管理</div>
                <div class="list-group">
                    <a class="list-group-item" id="IssueList" href="@Url.Action("IssueList","Manage")">投诉</a>
                </div>
                <div class="panel-heading parentMenu">公告管理</div>
                <div class="list-group">
                    <a class="list-group-item" id="NoticeList" href="@Url.Action("NoticeList","Manage")">公告通知</a>
                </div>
                <div class="panel-heading parentMenu">广告管理</div>
                <div class="list-group">
                    <a class="list-group-item" id="AdvertiseList" href="@Url.Action("AdvertiseList","Manage")">广告</a>
                    <a class="list-group-item" id="AdvertiseType" href="@Url.Action("AdvertiseTypeList","Manage")">类型</a>
                </div>
                <div class="panel-heading parentMenu">城市管理</div>
                <div class="list-group">
                    <a class="list-group-item" id="CityList" href="@Url.Action("CityList","Manage")">城市</a>
                </div>
                <div class="panel-heading parentMenu">微信管理</div>
                <div class="list-group">
                    <a class="list-group-item" id="Menu" href="@Url.Action("Menu","Manage")">菜单</a>
                    <a class="list-group-item" id="WeiXinModuleList" href="@Url.Action("WeiXinModuleList","Manage")">模块</a>
                </div>
            </div>
        </div>
        <div class="CR">
            @RenderBody()


        </div>

    </div>
</body>
</html>

